{% set isShow = isShow|default(false) %}
{% set pages =
    {
        'user':
        {
            'name' : 'Пользователи',
            'condition': isShow == 1,
        },'order':
        {
            'name' : 'Заказы',
            'condition': isShow == 2 or isShow == 1,
        },'inclusion-criterion':
        {
            'name' : 'Критерии включения',
            'condition': isShow == 2 or isShow == 1,
        },'thing':
        {
            'name' : 'Случай',
            'condition':  isShow == 3 or isShow == 2 or isShow == 1,
        },'container':
        {
            'name' : 'Контейнер',
            'condition': isShow == 1,
        },'storage-method':
        {
            'name' : 'Способ хранения',
            'condition': isShow == 1,
        },'material':
        {
            'name' : 'Материал',
            'condition': isShow == 1,
        },'laboratory':
        {
            'name' : 'Лаборатория',
            'condition': isShow == 1,
        },
        'app_logout':
        {
            'name' : 'Выход',
            'condition': isShow,
        }
    }
%}
{% set route_name = app.request.get('_route') %}
{% for k,v in pages %}
    {% if v.condition == true %}
        {% if v.custom|default(false) == false %}
            {% set link = k %}
        {% else %}
            {% set link = v.custom %}
        {% endif %}
        <a href="{{ path(link) }}" class="{% if v.class|default(null) %}{{ v.class }}{% endif %} {% if route_name in k %}selected{% endif %}">{{ v.name }}</a>
    {% endif %}
{% endfor %}