{% set isAdmin = isAdmin|default(false) %}
{% set pages =
    {
        'order':
        {
            'name' : 'Заказы',
            'condition': isAdmin,
        },
        'app_logout':
        {
            'name' : 'Выход',
            'condition': isAdmin,
        }
    }
%}
{% set route_name = app.request.get('_route') %}
{% for k,v in pages %}
    {% if v.condition == true %}
        {% if v.custom|default(false) == false %}
            {% set link = k %}
        {% else %}
            {% set link = v.custom %}
        {% endif %}
        <a href="{{ path(link) }}" class="{% if v.class|default(null) %}{{ v.class }}{% endif %} {% if route_name == k %}selected{% endif %}">{{ v.name }}</a>
    {% endif %}
{% endfor %}